{% extends "base.html.twig" %}

{% block title %}
    Série #{{ category.name }}
{% endblock %}

{% block body %}


    {% for program in programs %}
        <div>

            <h2>{{ program.id }} / {{ program.title }}</h2>

            <p>{{ program.summary }}</p>

            {# Lien vers la fiche de la série #}
            <a href="{{ path("program_show", { id: program.id }) }}" class="btn btn-primary">Voir la fiche</a>

        </div>
    {% else %}
        <p>Aucune série trouvée</p>
    {% endfor %}

{% endblock %}
