{% extends "base.html.twig" %}

{% block title %}
    Série {{ program.title }} - Season #{{ season.number }}
{% endblock %}

{% block body %}
    <h1>Série {{ program.title }} - Season #{{ season.number }}</h1>
    <p>
        {{ season.description }}
    </p>
    <h2>Episodes</h2>
    <ul>
        {% for episode in season.episodes %}
            <li>
                Épisode {{ episode.number }} : {{ episode.title }}
            </li>
        {% endfor %}

    <a href="{{ path('program_show', {'id': program.id}) }}" class="btn btn-primary">
        Retour à la fiche de la série
    </a>
{% endblock %}
