{% extends "base.html.twig" %}

{% block title %}
    {{ actor.firstname }} {{ actor.lastname }}
{% endblock %}

{% block body %}

    <h1>{{ actor.firstname }} {{ actor.lastname }}</h1>

    <p>{{ actor.birthDate|date("m/d/Y") }}</p>

    {# <p>{{ actor.biography }}</p> #}

    <p>
        <a href="{{ path('actor_index') }}" class="btn btn-primary">Retour à la liste</a>
        {# <a href="{{ path('actor_edit', { 'slug': actor.slug }) }}" class="btn btn-warning">Modifier</a> #}
        {# <a href="{{ path('actor_delete', { 'slug': actor.slug }) }}" class="btn btn-danger">Supprimer</a> #}
    </p>

    <h2>Programmes</h2>

    <ul>
        {% for program in actor.programs %}
            <li>
                <a href="{{ path('program_show', {'slug': program.slug}) }}">
                    {{ program.title }}
                </a>
            </li>
        {% else %}
            <li>Aucun programme pour cet acteur</li>
        {% endfor %}
    </ul>

{% endblock %}
